<ion-header>
  <ion-toolbar color="dark">
    <ion-button slot="end"  (click)="presentActionSheet()">
      <ion-icon name="power"></ion-icon>
    </ion-button>
    <ion-title class="ion-text-center">Panel Administrador</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" class="background">
  <ion-grid>
    <br>
    <ion-row>
      <ion-col class="ion-text-center">
          <ion-button class="animated fadeIn slow" *ngIf="authIsAdmin" color="tertiary" (click)="openVerSolicitudes()" expand="block" shape="round">
              <ion-label color="dark">Ver Solicitudes</ion-label>
            </ion-button>       
        </ion-col>
      </ion-row>

  <ion-row>
    <ion-col class="ion-text-center">
        <ion-button class="animated fadeIn slow" *ngIf="authIsAdmin" color="tertiary" (click)="openEscogerUser()" expand="block" shape="round">
            <ion-label color="dark">Buscar Usuario</ion-label>
        </ion-button>       
    </ion-col>
  </ion-row>
  <ion-row>
      <ion-col class="ion-text-center">
          <ion-button class="animated fadeIn slow" *ngIf="authIsAdmin" color="tertiary" (click)="openListaUsers()" expand="block" shape="round">
              <ion-label color="dark">Ver Listas de Usuarios</ion-label>
          </ion-button>       
      </ion-col>
    </ion-row>

  <ion-row>
      <ion-col class="ion-text-center">
          <ion-button class="animated fadeIn slow" *ngIf="authIsAdmin" color="tertiary" (click)="openEnviarNotificacion()" expand="block" shape="round">
              <ion-label color="dark">Enviar Notificación</ion-label>
          </ion-button>       
      </ion-col>
  </ion-row>

  <ion-row>
      <ion-col class="ion-text-center"> 
      
            <ion-button *ngFor= "let chat of chatRooms" class="animated fadeIn slow"  color="tertiary" (click)="openChat(chat)" expand="block" shape="round">
                <ion-label color="dark">{{chat.name}}</ion-label>
            </ion-button> 

     
    </ion-col>
    </ion-row>    


    </ion-grid>
</ion-content>