<ion-header>
  <ion-toolbar color="dark">
    <ion-button color="dark" fill="clear" style="box-shadow: 0px 0px 0px" slot="start">
      <ion-icon></ion-icon>
    </ion-button>
    <ion-button color="secondary" fill="outline" slot="end" class="boton" (click)="presentActionSheetBoton()">
      <ion-icon style="color:#fff; font-size: 25px" name="menu"></ion-icon>
    </ion-button>
    <ion-title class="ion-text-center">{{this.userName}} {{this.userLastName}}</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <br>
    <ion-row>
      &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;
      <ion-col size="4">
        <div>
          <ion-avatar (click)="agregarFoto()">
            <img src="assets/add-profile.png">
          </ion-avatar>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <ion-row>
            <ion-col>
              <ion-label *ngIf="authIsKine" color="dark" class="ion-text-wrap" style="font-size:12px;margin-bottom:0px;">
                {{this.userEdad}} años
              </ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-label *ngIf="authIsKine" color="dark" class="ion-text-wrap" style="font-size:12px;margin-top:0px;margin-bottom:0px;">
                <ion-icon name="pin"></ion-icon>
                {{this.direccion}}
              </ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-label color="dark" class="perfil-label ion-text-wrap"
              style="margin-left:5px;margin-top:0px;margin-bottom:5px;font-size:15px;">
              <b> {{this.nEntrenamientos}}</b><span style="font-size:12px;margin-left:5px;">entrenamientos</span>
            </ion-label>
          </ion-row>
          <ion-row>
            <ion-button size="small" color="dark" (click)="openFichaClinicaPage()" shape="round">
              FICHA CLÍNICA
            </ion-button>
          </ion-row>

          <!--
          <ion-row>
            <ion-label color="dark">
              31 años
            </ion-label>
          </ion-row>
          -->

        </div>

      </ion-col>

    </ion-row>
    <br>
    <ion-row class="borde">
      <canvas #barChart></canvas>
    </ion-row>


    <!--   Entrenamiento Anterior -->
    <ion-card style="background-color:white;">
      <ion-card-header tappable (click)="collapseCard = !collapseCard">
        <ion-card-title color='primary' class="ion-text-wrap ion-text-center"><b>VER ENTRENAMIENTO ANTERIOR</b> &nbsp;
          <ion-icon *ngIf="collapseCard" size="medium" name="arrow-dropright"></ion-icon>
          <ion-icon *ngIf="!collapseCard" size="medium" name="arrow-dropdown"></ion-icon>
        </ion-card-title>

      </ion-card-header>
      <ion-card-content [@visibilityChanged] *ngIf="collapseCard">
        <ion-row>
          <ion-col class="ion-text-center">
            <ion-label class="ion-text-center ion-text-wrap">{{evaluacion.fecha | date:'dd/MM/yyyy'}}
            </ion-label>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col class="ion-text-center ion-text-wrap">
            <ion-label>Core</ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-range [(ngModel)]="rateCore" min="1" max="10" color="primary" disabled="true">
            <ion-icon slot="start" name="sad"></ion-icon>
            <ion-icon slot="end" name="happy"></ion-icon>
          </ion-range>
        </ion-row>

        <!--
        <ion-row>
          <ion-col>
            <ion-label class="ion-text-wrap">Core </ion-label>
          </ion-col>
          <rating [(ngModel)]="rateCore" readonly="true" size="default">
          </rating>
        </ion-row>
        -->

        <ion-row>
          <ion-col class="ion-text-center ion-text-wrap">
            <ion-label>Tren Inferior</ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-range [(ngModel)]="rateInf" min="1" max="10" color="primary" disabled="true">
            <ion-icon slot="start" name="sad"></ion-icon>
            <ion-icon slot="end" name="happy">></ion-icon>
          </ion-range>
        </ion-row>

        <!--
        <ion-row>
          <ion-col>
            <ion-label class="ion-text-wrap"> Tren Inf </ion-label>
          </ion-col>
          <rating [(ngModel)]="rateInf" readonly="true" size="default">
          </rating>
        </ion-row>
        -->

        <ion-row>
          <ion-col class="ion-text-center ion-text-wrap">
            <ion-label>Tren Superior</ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-range [(ngModel)]="rateSup" min="1" max="10" color="primary" disabled="true">
            <ion-icon slot="start" name="sad"></ion-icon>
            <ion-icon slot="end" name="happy">></ion-icon>
          </ion-range>
        </ion-row>

        <!--
        <ion-row>
          <ion-col>
            <ion-label class="ion-text-center ion-text-wrap">Tren Sup </ion-label>
          </ion-col>
          <rating [(ngModel)]="rateSup" readonly="true" size="default">
          </rating>
        </ion-row>
        -->

        <ion-row>
          <ion-col class="ion-text-center ion-text-wrap">
            <ion-label>Enfoque del Entrenamiento</ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-range [(ngModel)]="rateCardio" min="1" max="10" color="primary" disabled="true">
            <ion-icon slot="start" name="heart"></ion-icon>
            <ion-icon slot="end" src="assets/strength.svg"></ion-icon>
          </ion-range>
        </ion-row>

      </ion-card-content>
    </ion-card>

    <ion-row>
      <ion-col class="ion-text-center">
        <ion-button *ngIf="authIsKine" color="primary" (click)="openHacerEvaluacionDiariaPage()" expand="block"
          shape="round" fill="outline">
          COMENZAR ENTRENAMIENTO
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="ion-text-center">
        <ion-button *ngIf="authIsKine" (click)="openHacerEvaluacionBimensualPage()" color="primary" expand="block"
          shape="round" fill="outline">
          EVALUACIÓN FISIOTRAINING
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="ion-text-center">
        <ion-button color="primary" (click)="openVerEvaluacionesPage()" expand="block" shape="round" fill="outline">
          VER EVALUACIONES ANTERIORES
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="ion-text-center">
        <ion-button *ngIf="authIsAdmin" color="danger" (click)="cambiarRol()" expand="block" shape="round"
          fill="outline">
          CAMBIAR ROL DEL USUARIO
        </ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>


</ion-content>