<ion-header>
    <ion-toolbar color="tertiary">
      <ion-button slot="start" fill="clear" (click)="goBack()">
        <ion-icon style="color:#fff; font-size: 25px" name="arrow-round-back"></ion-icon>
      </ion-button>
      <ion-title text-center>Evaluación Bimensual</ion-title>
    </ion-toolbar>
  </ion-header>
   
  <ion-content class="animated fadeIn slow" padding>
    <ion-grid>
      <ion-row>
        <ion-col text-center>
          Nombre: {{userName}} {{userLastName}}
        </ion-col>
      </ion-row>
      <ion-row>
          <ion-col text-center>
            Email: {{userEmail}}          
          </ion-col>
        </ion-row>
        <ion-row>
            <ion-col text-center>
             <ion-label></ion-label> Edad: {{userEdad}}          
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-item>
              <ion-col text-center>
                <ion-label> Observaciones: </ion-label>
                <ion-input type="text" [(ngModel)]="observacion" tappable (ngModelChange)="onModelChangeObservaciones($event)"  inputmode="text"></ion-input>        
              </ion-col>
            </ion-item>
            </ion-row>
    </ion-grid>  
    
  </ion-content>