

ion-card{
    border: 1px solid #2f4a81;
    border-radius: 25px;
    box-shadow: 0px 0px 10px #888888;
}

ion-card-title{
    font-size: 18px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.fechaX{
    font-size: 16px;
}

ion-button{
    border-radius: 25px;
    box-shadow: 0px 0px 10px #888888;
  }