<ion-header>
  <ion-toolbar color="tertiary">
      <ion-button slot="start" fill="clear" (click)="goBack()">
          <ion-icon style="color:#fff; font-size: 25px" name="arrow-round-back"></ion-icon>
        </ion-button>
    <ion-title text-center>Próximo Entrenamiento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-grid>

  <ion-row>
    <ion-col class="animated fadeIn slow" text-center>

            Entrenamiento X/Y
    
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="animated fadeIn slow" text-center>

                   Comienza en: 
    
      </ion-col>
    </ion-row>

    <ion-row>
        <ion-col class="animated fadeIn slow" text-center>
  
                     Coach: 
      
        </ion-col>
      </ion-row>

          <ion-row>
              <ion-col class="animated fadeIn slow" text-center>
                  <ion-button color="tertiary" (click)="evaluarSesion()" expand="block" shape="round">
                      EVALUAR SESION
                  </ion-button>       
                </ion-col>
              </ion-row>

              <ion-row>
                  <ion-col class="animated fadeIn slow" text-center>
                      <ion-button color="tertiary" (click)="goBack()" expand="block" shape="round">
                          VOLVER
                      </ion-button>       
                    </ion-col>
                  </ion-row>

        </ion-grid>  

</ion-content>
