<ion-header>
    <ion-toolbar color="medium">
        <ion-button slot="start" fill="clear" (click)="goBack()">
            <ion-icon style="color:#fff; font-size: 25px" name="arrow-round-back"></ion-icon>
          </ion-button>
      <ion-title class="ion-text-center">Listas de Usuarios</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
    <ion-grid> 
        <br>
    <ion-row>
        <ion-col class="ion-text-center">
            <ion-button *ngIf="authIsAdmin" color="primary" (click)="openListaAdmins()" expand="block" shape="round" fill="outline">
                    ADMINISTRADORES
            </ion-button>       
        </ion-col>
      </ion-row>
      <ion-row>
          <ion-col class="ion-text-center">
              <ion-button *ngIf="authIsAdmin" color="primary" (click)="openListaCoachs()" expand="block" shape="round" fill="outline">
                    COACHS
              </ion-button>       
          </ion-col>
        </ion-row>
        <ion-row>
            <ion-col class="ion-text-center">
                <ion-button *ngIf="authIsAdmin" color="primary" (click)="openListaPacientes()" expand="block" shape="round" fill="outline">
                        PACIENTES
                </ion-button>       
            </ion-col>
          </ion-row>
          <ion-row>
              <ion-col class="ion-text-center">
                  <ion-button *ngIf="authIsAdmin" color="primary" (click)="openListaVisitas()" expand="block" shape="round" fill="outline">
                        VISITAS
                  </ion-button>       
              </ion-col>
            </ion-row>
            <ion-row>
                <ion-col class="ion-text-center">
                    <ion-button *ngIf="authIsAdmin" color="primary" (click)="openListaUsers()" expand="block" shape="round" fill="outline">
                            LISTA COMPLETA DE USUARIOS
                    </ion-button>       
                </ion-col>
              </ion-row>
              <ion-row style="margin-top: 10px;">
                  <ion-col class="ion-text-center">
                      <ion-button *ngIf="authIsAdmin" color="primary" (click)="goBack()" shape="round">
                            VOLVER
                      </ion-button>       
                  </ion-col>
                </ion-row>

    </ion-grid> 
</ion-content>
