rating {
  ion-icon {
    color: gray;

    &.filled {
      color: #b7ce48;
    }
  }
}

.center {

  display: block;
  margin-left: auto;
  margin-right: auto;

  
}

ion-card-title{
  font-size: 15px;
}

.img{
  border-radius: 25px;
}



:host {
  ion-content.background{
      --background: url(../../../assets/background2.jpg) 0 0/100% 100% no-repeat;
  }
  }

  .card {
    background-color: #fff;
  }