<ion-header>
    <ion-toolbar color="dark">
        <ion-button slot="start" fill="clear" (click)="goBack()">
            <ion-icon style="color:#ffffff; font-size: 25px" name="arrow-round-back"></ion-icon>
          </ion-button>
      <ion-title style="color:#ffffff" text-center>  </ion-title>
    </ion-toolbar>
  </ion-header>
   
  <ion-content class="background" padding>
    <ion-grid>
   <!--    
      <ion-row>
            <p>{{userName}} {{userLastName}}</p>
      </ion-row>
      -->
        <ion-row>
          
          <ion-col>
           <div class="animated fadeIn slower" (click)="openSpotify()">
            <img src="assets/spotify.png" width='70px' height='70px' alt="logo" class="img"> 
           </div>
          </ion-col>

           <ion-col>
            <div class="animated fadeIn slower" (click)="startTimer()">
              <img src="assets/clock.png" width='70px' height='70px' alt="logo" class="img"> 
            </div>
          </ion-col>

          <ion-col>
            <div class="animated fadeIn slower" (click)="openInstagram('fisiotraininglc')">
             <img src="assets/instagram.png" width='70px' height='70px' alt="logo" class="img"> 
            </div>
           </ion-col>
        </ion-row>
      

        <ion-card class="animated fadeIn slow card">
            <ion-card-header color="light" tappable (click)="collapseCard = !collapseCard">
                <ion-card-title color="dark" text-center><ion-icon name="qr-scanner"></ion-icon>  <b>SCANNING</b> <ion-icon name="qr-scanner"></ion-icon></ion-card-title> 
              
            
            </ion-card-header>
            <ion-card-content *ngIf="collapseCard">
      <ion-row>
        <ion-col class="ion-text-center">
            <ion-label class="ion-text-center">
          Autopercepción
        </ion-label>        
        </ion-col>
          <rating [(ngModel)]="rateAutopercepcion"
          readonly="false" 
          size="default"
          (ngModelChange)="onModelChangeAutopercepcion($event)">
          </rating>
      </ion-row>
      <ion-row>
          <ion-col class="ion-text-center">
              <ion-label class="ion-text-center">
            Alimentación
          </ion-label>        
          </ion-col>
            <rating [(ngModel)]="rateAlimentacion"
            readonly="false" 
            size="default"
            (ngModelChange)="onModelChangeAlimentacion($event)">
            </rating>
        </ion-row>
        <ion-row>
            <ion-col class="ion-text-center">
                <ion-label class="ion-text-center">
              Hidratación
            </ion-label>        
            </ion-col>
              <rating [(ngModel)]="rateHidratacion"
              readonly="false" 
              size="default"
              (ngModelChange)="onModelChangeHidratacion($event)">
              </rating>
          </ion-row>
          <ion-row>
              <ion-col class="ion-text-center">
                  <ion-label class="ion-text-center">
                Stress
              </ion-label>        
              </ion-col>
                <rating [(ngModel)]="rateStress"
                readonly="false" 
                size="default"
                (ngModelChange)="onModelChangeStress($event)">
                </rating>
            </ion-row> 
           
            <ion-row>
                <ion-col class="ion-text-center">
                    <ion-label class="ion-text-center">
                  Sueño
                </ion-label>        
                </ion-col>
                  <rating [(ngModel)]="rateSueno"
                  readonly="false" 
                  size="default"
                  (ngModelChange)="onModelChangeSueno($event)">
                  </rating>
              </ion-row> 
            </ion-card-content>
            </ion-card>
            
            

              <ion-card class="animated fadeIn slow card">
                  <ion-card-header color="light" tappable (click)="collapseCard2 = !collapseCard2">
                        <ion-card-title color="dark" text-center><ion-icon name="walk"></ion-icon>  <b>CIRCUITOS</b> <ion-icon name="walk"></ion-icon></ion-card-title> 
                  </ion-card-header>
                  <ion-card-content *ngIf="collapseCard2">
          <ion-row>
              <ion-col class="ion-text-center">
                  <ion-label class="ion-text-center">
                Circuito 1
              </ion-label>        
              </ion-col>
                <rating [(ngModel)]="rateCircuito1"
                readonly="false" 
                size="default"
                (ngModelChange)="onModelChangeCircuito1($event)">
                </rating>
            </ion-row>
            
            <ion-row>
                <ion-col class="ion-text-center">
                    <ion-label class="ion-text-center">
                  Circuito 2
                </ion-label>        
                </ion-col>
                  <rating [(ngModel)]="rateCircuito2"
                  readonly="false" 
                  size="default"
                  (ngModelChange)="onModelChangeCircuito2($event)">
                  </rating>
              </ion-row>
    
              <ion-row>
                  <ion-col class="ion-text-center">
                      <ion-label class="ion-text-center">
                    Circuito 3
                  </ion-label>        
                  </ion-col>
                    <rating [(ngModel)]="rateCircuito3"
                    readonly="false" 
                    size="default"
                    (ngModelChange)="onModelChangeCircuito3($event)">
                    </rating>
                </ion-row>
              </ion-card-content>
              </ion-card>
               
       
                <ion-card class="animated fadeIn slow card">
                    <ion-card-header color="light" tappable (click)="collapseCard3 = !collapseCard3">
                         <ion-card-title color="dark" text-center><ion-icon name="bicycle"></ion-icon> <b>ENTRENAMIENTO</b> <ion-icon name="bicycle"></ion-icon></ion-card-title> 
                    </ion-card-header>
                    <ion-card-content *ngIf="collapseCard3">
                    <ion-row>
                        <ion-col class="ion-text-center">
                            <ion-label class="ion-text-center">
                          Core
                        </ion-label>        
                        </ion-col>
                          <rating [(ngModel)]="rateCore"
                          readonly="false" 
                          size="default"
                          (ngModelChange)="onModelChangeCore($event)">
                          </rating>
                      </ion-row>
          
            <ion-row>
                <ion-col class="ion-text-center">
                    <ion-label class="ion-text-center">
                  Tren inferior
                </ion-label>        
                </ion-col>
                  <rating [(ngModel)]="ratePiernas"
                  readonly="false" 
                  size="default"
                  (ngModelChange)="onModelChangePiernas($event)">
                  </rating>
              </ion-row>
           
              <ion-row>
                  <ion-col class="ion-text-center">
                      <ion-label class="ion-text-center">
                    Tren Superior
                  </ion-label>        
                  </ion-col>
                    <rating [(ngModel)]="rateBrazos"
                    readonly="false" 
                    size="default"
                    (ngModelChange)="onModelChangeBrazos($event)">
                    </rating>
                </ion-row>
              
                <br>
                <ion-range [(ngModel)]="rateCardio" min="1" max="10" color="secondary" value='50' disabled="false" (ngModelChange)="onModelChangeCardio($event)">
                    <ion-icon  slot="start" name="heart"></ion-icon>
                    <ion-icon  slot="end" src="assets/strength.svg"></ion-icon>

                  </ion-range>
                 

                  <br>
                </ion-card-content>
                </ion-card>   
             
              <ion-row>
                  <ion-col text-center>
                      <ion-button expand="block" shape="round" class="animated fadeIn slow" color="tertiary" (click)="guardarEvaluacion()">
                          <ion-label color="dark">Guardar</ion-label>
                        </ion-button>       
                    </ion-col>
              </ion-row>
              <ion-row>
                    <ion-col text-center>
                        <ion-button expand="block" shape="round" class="animated fadeIn slow" color="tertiary" (click)="goBack()">
                            <ion-label color="dark"> Volver</ion-label>
                          </ion-button>       
                      </ion-col>
                  </ion-row>
  
          
    </ion-grid>  
    
    
  </ion-content>