<ion-header>
    <ion-toolbar color="tertiary">
        <ion-button slot="start" fill="clear" (click)="goBack()">
            <ion-icon style="color:#fff; font-size: 25px" name="arrow-round-back"></ion-icon>
          </ion-button>
      <ion-title text-center> {{userName}} {{userLastName}} {{fechaToday | date: 'dd/MM/yyyy'}}  </ion-title>
    </ion-toolbar>
  </ion-header>
   
  <ion-content class="background" padding>
    <ion-grid>
        <ion-row>
          <ion-col text-center>
        <div class="animated fadeIn slower" text-center>
            <img src="assets/spotify.png" width='100px' height='100px' alt="logo" class="center img"> 
          </div>
        </ion-col>
        </ion-row>
    
        <ion-card class="animated fadeIn slow card">
            <ion-card-header>
                <ion-card-title color='dark' text-center><b>SCANNING</b></ion-card-title>
            </ion-card-header>
            <ion-card-content>
      <ion-row>
        <ion-col>
          <b>-AUTOPERCEPCION: </b>          
        </ion-col>
          <rating [(ngModel)]="rateAutopercepcion"
          readonly="false" 
          size="default"
          (ngModelChange)="onModelChangeAutopercepcion($event)">
          </rating>
      </ion-row>
      <br>
      <ion-row>
          <ion-col>
            <b>-ALIMENTACION: </b>           
          </ion-col>
            <rating [(ngModel)]="rateAlimentacion"
            readonly="false" 
            size="default"
            (ngModelChange)="onModelChangeAlimentacion($event)">
            </rating>
        </ion-row>
        <br>
        <ion-row>
            <ion-col>
              <b>-HIDRATACION: </b>          
            </ion-col>
              <rating [(ngModel)]="rateHidratacion"
              readonly="false" 
              size="default"
              (ngModelChange)="onModelChangeHidratacion($event)">
              </rating>
          </ion-row>
          <br>
          <ion-row>
              <ion-col>
               <b>-STRESS: </b>          
              </ion-col>
                <rating [(ngModel)]="rateStress"
                readonly="false" 
                size="default"
                (ngModelChange)="onModelChangeStress($event)">
                </rating>
            </ion-row> 
            <br>
            <ion-row>
                <ion-col>
                 <b>-SUEÑO: </b>          
                </ion-col>
                  <rating [(ngModel)]="rateSueno"
                  readonly="false" 
                  size="default"
                  (ngModelChange)="onModelChangeSueno($event)">
                  </rating>
              </ion-row> 
            </ion-card-content>
            </ion-card>
            
              <br>
              <ion-row>
                  <ion-col text-center>
                  <div class="animated fadeIn slower" text-center>
                      <img src="assets/clock.png" width='100px' height='100px' alt="logo" class="center img"> 
                    </div>
                    </ion-col>
                  </ion-row>

              <ion-card class="animated fadeIn slow card">
                  <ion-card-header>
                      <ion-card-title color='dark' text-center><b>CIRCUITOS</b> </ion-card-title>
                  </ion-card-header>
                  <ion-card-content>
          <ion-row>
              <ion-col>
                  <b>-CIRCUITO 1: </b>        
              </ion-col>
                <rating [(ngModel)]="rateCircuito1"
                readonly="false" 
                size="default"
                (ngModelChange)="onModelChangeCircuito1($event)">
                </rating>
            </ion-row>
            <br>
            <ion-row>
                <ion-col>
                    <b>-CIRCUITO 2: </b>        
                </ion-col>
                  <rating [(ngModel)]="rateCircuito2"
                  readonly="false" 
                  size="default"
                  (ngModelChange)="onModelChangeCircuito2($event)">
                  </rating>
              </ion-row>
              <br>
              <ion-row>
                  <ion-col>
                      <b>-CIRCUITO 3:  </b>        
                  </ion-col>
                    <rating [(ngModel)]="rateCircuito3"
                    readonly="false" 
                    size="default"
                    (ngModelChange)="onModelChangeCircuito3($event)">
                    </rating>
                </ion-row>
              </ion-card-content>
              </ion-card>
                <br>
       
                <ion-card class="animated fadeIn slow card">
                    <ion-card-header>
                        <ion-card-title color='dark' text-center><b>ENTRENAMIENTO</b></ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                    <ion-row>
                        <ion-col>
                            <b>-CORE:  </b>   
                        </ion-col>
                          <rating [(ngModel)]="rateCore"
                          readonly="false" 
                          size="default"
                          (ngModelChange)="onModelChangeCore($event)">
                          </rating>
                      </ion-row>
          
            <br>
            <ion-row>
                <ion-col>
                    <b>-TREN INFERIOR: </b>    
                </ion-col>
                  <rating [(ngModel)]="ratePiernas"
                  readonly="false" 
                  size="default"
                  (ngModelChange)="onModelChangePiernas($event)">
                  </rating>
              </ion-row>
              <br>
              <ion-row>
                  <ion-col>
                      <b>-TREN SUPERIOR: </b>      
                  </ion-col>
                    <rating [(ngModel)]="rateBrazos"
                    readonly="false" 
                    size="default"
                    (ngModelChange)="onModelChangeBrazos($event)">
                    </rating>
                </ion-row>
              
                <br>
                <ion-range [(ngModel)]="rateCardio" min="1" max="10" color="secondary" value='50' disabled="false" (ngModelChange)="onModelChangeCardio($event)">
                    <ion-icon  slot="start" name="heart"></ion-icon>
                    <ion-icon  slot="end" name="heart-dislike"></ion-icon>

                  </ion-range>
                  <!-- <ion-button expand="block" shape="round" class="animated fadeIn slow" color="tertiary" (click)="printCardio()">
                    Print Cardio
                  </ion-button>  -->
            <!---   
              <ion-row>
                  <ion-col>
                      -Cardio:      
                  </ion-col>
                    <rating [(ngModel)]="rateCardio"
                    readonly="false" 
                    size="default"
                    (ngModelChange)="onModelChangeCardio($event)">
                    </rating>
                </ion-row>
                <br>
                <ion-row>
                    <ion-col>
                        -Fuerza:      
                    </ion-col>
                      <rating [(ngModel)]="rateFuerza"
                      readonly="false" 
                      size="default"
                      (ngModelChange)="onModelChangeFuerza($event)">
                      </rating>
                  </ion-row>  -->

                  <br>
                </ion-card-content>
                </ion-card>   
                <ion-row>
                    <ion-col text-center>
                    <div class="animated fadeIn slower" text-center>
                        <img src="assets/instagram.png" width='100px' height='100px' alt="logo" class="center img"> 
                      </div>
                      </ion-col>
                    </ion-row>
              <br>
              <ion-row>
                  <ion-col text-center>
                      <ion-button expand="block" shape="round" class="animated fadeIn slow" color="tertiary" (click)="guardarEvaluacion()">
                          GUARDAR
                        </ion-button>       
                    </ion-col>
              </ion-row>
              <ion-row>
                    <ion-col text-center>
                        <ion-button expand="block" shape="round" class="animated fadeIn slow" color="tertiary" (click)="goBack()">
                            VOLVER
                          </ion-button>       
                      </ion-col>
                  </ion-row>
  
          
    </ion-grid>  
    
    
  </ion-content>