<ion-header>
  <ion-toolbar color="dark">
    <ion-button slot="start" fill="clear" (click)="closeComponent()">
      <ion-icon style="color:#fff; font-size: 25px" name="close"></ion-icon>
    </ion-button>
    <ion-title class="ion-text-center">Mis Pacientes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>


    <ion-list>
      <ion-item *ngFor="let user of ListaUsers | async" (click)="openProfile(user)" [routerLink]="user.url"
        routerDirection="root" [class.active-item]="selectedPath === user.url">
          <ion-icon name="person" size="large" slot="start"></ion-icon>
          <!--
            <img src="assets/alfred.png">
            -->

        <ion-label class="animated fadeIn slow">
          <h2><b>{{user.name}} {{user.lastName}}</b></h2>
          <p>{{user.mail}}</p>
        </ion-label>

      </ion-item>
    </ion-list>


    <br>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-button color="primary" shape="round" fill="outline" (click)="closeComponent()">
          VOLVER
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>