<ion-header>
  <ion-toolbar color="dark">
    <ion-button fill="clear" *ngIf="isWeekView" slot="start" (click)="changeMode('month')">
      <ion-icon style="color:#fff; font-size: 25px" name="arrow-round-back"></ion-icon>
      <ion-label color="light">{{event.startTime | date:'MMM'}}</ion-label>
    </ion-button>
    <ion-button fill="clear" *ngIf="isDayView" slot="start" (click)="changeMode('week')">
      <ion-icon style="color:#fff; font-size: 25px" name="arrow-round-back"></ion-icon>
    </ion-button>
    <ion-button color="secondary" fill="outline" slot="end" class="boton" (click)="presentActionSheet()">
      <ion-icon style="color:#fff; font-size: 25px" name="menu"></ion-icon>
    </ion-button>
    <ion-title class="ion-text-center">{{event.startTime | date}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- Para los Administradores -->
  <!--
  <ion-card *ngIf="authIsAdmin">
    <ion-card-header color="primary" tappable (click)="collapseCard = !collapseCard">
      <ion-card-title class="ion-text-center" color='dark'>Coordinar un nuevo Entrenamiento
        <ion-icon *ngIf="!collapseCard" size="medium" name="arrow-dropright"></ion-icon>
        <ion-icon *ngIf="collapseCard" size="medium" name="arrow-dropdown"></ion-icon>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content *ngIf="collapseCard">

      <ion-item>
        <ion-label class="ion-text-wrap">Fecha: </ion-label>
        <br>
        <ion-datetime displayFormat="MM/DD/YYYY HH:mm" pickerFormat="MMM D:HH:mm" [(ngModel)]="event.startTime"
          [min]="minDate"></ion-datetime>
      </ion-item>
        <ion-item>
                    <ion-label>Termina:</ion-label>
                    <ion-datetime displayFormat="MM/DD/YYYY HH:mm" pickerFormat="MMM D:HH:mm" [(ngModel)]="event.endTime" [min]="minDate"></ion-datetime>
                  </ion-item>
                  
      <ion-item (click)="openEscogerUser()">
        <ion-label class="ion-text-wrap">{{userSelected}} {{userSelectedLastName}}</ion-label>
      </ion-item>
      <ion-item (click)="openEscogerKine()">
        <ion-label class="ion-text-wrap">{{kineSelected}} {{kineSelectedLastName}}</ion-label>
      </ion-item>
      <ion-button expand="block" (click)="agregarSesion()" [disabled]="event.title == ''">Agregar</ion-button>

    </ion-card-content>
  </ion-card>
  -->

  <!-- Para los Kinesiólogos -->
  <!--
            <ion-card class="animated fadeIn slow" *ngIf="authIsKine">
              <ion-card-header tappable (click)="collapseCard = !collapseCard">
                <ion-card-title color='light'>Agregar una nueva sesión de Fisiotraining:</ion-card-title>
              </ion-card-header>
              <ion-card-content *ngIf="!collapseCard">
           
                <ion-item>
                  <ion-label>Fecha: </ion-label>
                  <ion-datetime displayFormat="MM/DD/YYYY HH:mm" pickerFormat="MMM D:HH:mm" [(ngModel)]="event.startTime" [min]="minDate"></ion-datetime>
                </ion-item>
                <ion-item>
                    <ion-label>Paciente: </ion-label>
                    <ion-label text-center>{{userSelected}}</ion-label>
                    <ion-button  (click)="openEscogerUser()" >Seleccionar Paciente</ion-button>
                  
                </ion-item>
                <ion-button expand="block" (click)="agregarSesion()" [disabled]="event.title == ''">Agregar Sesión</ion-button>
           
              </ion-card-content>
            </ion-card>
            -->

  <!-- Para los Clientes -->
  <!--
  <ion-card *ngIf="authIsUsuario">
    <ion-card-header color="primary" tappable (click)="collapseCard = !collapseCard">
      <ion-card-title class="ion-text-center" color='dark'>Solicitar un Entrenamiento
        <ion-icon *ngIf="!collapseCard" size="medium" name="arrow-dropright"></ion-icon>
        <ion-icon *ngIf="collapseCard" size="medium" name="arrow-dropdown"></ion-icon>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content *ngIf="collapseCard">
      

      <ion-item>
        <ion-label>Fecha:</ion-label>
        <ion-datetime displayFormat="MM/DD/YYYY HH:mm" pickerFormat="MMM D:HH:mm" [(ngModel)]="event.startTime"
          [min]="minDate"></ion-datetime>
      </ion-item>
      <ion-button expand="block" (click)="solicitarSesion()" [disabled]="event.title == ''">Solicitar</ion-button>

    </ion-card-content>
  </ion-card>
  -->

  <!-- Para las Visitas -->
  <!--
  <ion-card *ngIf="authIsVisita">
    <ion-card-header color="primary" tappable (click)="collapseCard = !collapseCard">
      <ion-card-title class="ion-text-center" color='dark'>Solicitar una Sesión
        <ion-icon *ngIf="!collapseCard" size="medium" name="arrow-dropright"></ion-icon>
        <ion-icon *ngIf="collapseCard" size="medium" name="arrow-dropdown"></ion-icon>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content *ngIf="collapseCard">

      <ion-item>
        <ion-label>Fecha:</ion-label>
        <ion-datetime displayFormat="MM/DD/YYYY HH:mm" pickerFormat="MMM D:HH:mm" [(ngModel)]="event.startTime"
          [min]="minDate"></ion-datetime>
      </ion-item>
      <ion-button expand="block" (click)="solicitarSesion()" [disabled]="event.title == ''">Solicitar</ion-button>

    </ion-card-content>
  </ion-card>
  -->

  <!-- 
  <ion-row>
    -->
  <!-- Change the displayed calendar mode -->
  <!-- 
    <ion-col size="4">
      <ion-button expand="block" [color]="calendar.mode == 'month' ? 'primary' : 'secondary'"
        (click)="changeMode('month')">Mes</ion-button>
    </ion-col>
    <ion-col size="4">
      <ion-button expand="block" [color]="calendar.mode == 'week' ? 'primary' : 'secondary'"
        (click)="changeMode('week')">Semana</ion-button>
    </ion-col>
    <ion-col size="4">
      <ion-button expand="block" [color]="calendar.mode == 'day' ? 'primary' : 'secondary'" (click)="changeMode('day')">
        Día</ion-button>
    </ion-col>

  </ion-row>
-->

  <!--
  <ion-grid>
    <ion-row>
-->
  <!-- Move back one screen of the slides -->
  <!--
      <ion-col size="3">
        <ion-button fill="clear" (click)="back()">
          <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col>
      -->

  <!-- Mes -->
  <!--
      <ion-col size="6">
        <ion-label class="fecha ion-text-wrap">
          {{ viewTitle}}
        </ion-label>
      </ion-col>
      -->

  <!-- Move forward one screen of the slides -->
  <!--
      <ion-col size="3">
        <ion-button fill="clear" (click)="next()">
          <ion-icon name="arrow-forward" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col>
      

      <ion-col size="6">
        <ion-label class="fecha ion-text-wrap">
          {{event.startTime | date}}
        </ion-label>
      </ion-col>

      <ion-col size="6">
        <ion-button color="dark" expand="block" shape="round" fill="outline" (click)="solicitarSesion()" [disabled]="event.title == ''">
          <b>SOLICITAR ENTRENAMIENTO</b>
        </ion-button>
      </ion-col>

    </ion-row>

  </ion-grid>
  -->

  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-icon class="icon" style="color:rgba(0, 200, 50, 0.9); font-size: 25px" name="square"></ion-icon>
        <ion-label style="font-size: 13px; margin-bottom: 15px;">Realizada</ion-label>
      </ion-col>
      <ion-col class="ion-text-center">
        <ion-icon class="icon" style="color:rgba(250, 20, 20, 0.737); font-size: 25px" name="square"></ion-icon>
        <ion-label style="font-size: 13px; margin-bottom: 15px;">No Realizada</ion-label>
      </ion-col>
      <ion-col class="ion-text-center">
        <ion-icon class="icon" style="color:rgba(56, 128, 255, 0.737); font-size: 25px" name="square"></ion-icon>
        <ion-label style="font-size: 13px; margin-bottom: 15px;">Solicitud</ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Calendario de admins -->
  <calendar *ngIf="authIsAdmin" [eventSource]="eventSource" [calendarMode]="calendar.mode"
    [currentDate]="calendar.currentDate" (onEventSelected)="onEventSelectedKine($event)"
    (onTitleChanged)="onViewTitleChanged($event)" (onTimeSelected)="onTimeSelected($event)" (click)="goToDateView()"
    [monthviewDisplayEventTemplate]="templateKineMonth" [weekviewNormalEventSectionTemplate]="templateKineWeek"
    startHour="6" endHour="24" step="15" startingDayWeek="1" formatHourColumn="HH:mm" startingDayMonth="1">
  </calendar>

  <!-- Calendario de Kines-->
  <calendar *ngIf="authIsKine" [eventSource]="eventSource" [calendarMode]="calendar.mode"
    [currentDate]="calendar.currentDate" (onEventSelected)="onEventSelectedKine($event)"
    (onTitleChanged)="onViewTitleChanged($event)" (onTimeSelected)="onTimeSelected($event)" (click)="goToDateView()"
    [monthviewDisplayEventTemplate]="templateKineMonth" [weekviewNormalEventSectionTemplate]="templateKineWeek"
     startHour="6" endHour="24" step="15" startingDayWeek="1" formatHourColumn="HH:mm" startingDayMonth="1">
  </calendar>

  <!-- Template Vista Mes -->
  <ng-template #templateKineMonth let-view="view" let-row="row" let-col="col">
    <div *ngIf="view.dates[row*7+col].events == ''">{{view.dates[row*7+col].label}}</div>
    <div *ngFor="let obj of view.dates[row*7+col].events">
      <p [ngStyle]="{'background': obj.eventColor, 'border-radius': '50%', 'margin': '0'}">
        {{view.dates[row*7+col].label}}
      </p>
    </div>
  </ng-template>

  <!-- Template Vista Semana -->
  <ng-template #templateKineWeek let-tm="tm" let-hourParts="hourParts" let-eventTemplate="eventTemplate">
    <div [ngClass]="{'calendar-event-wrap': tm.events}" *ngIf="tm.events">
      <div *ngFor="let displayEvent of tm.events" class="calendar-event" tappable
        (click)="onEventSelectedKine(displayEvent.event)"
        [ngStyle]="{'background': displayEvent.event.eventColor, top: (37*displayEvent.startOffset/hourParts)+'px',left: 100/displayEvent.overlapNumber*displayEvent.position+'%', width: 100/displayEvent.overlapNumber+'%', height: 37*(displayEvent.endIndex -displayEvent.startIndex - (displayEvent.endOffset + displayEvent.startOffset)/hourParts)+'px'}">
        <ng-template [ngTemplateOutlet]="eventTemplate" [ngTemplateOutletContext]="{displayEvent:displayEvent}">
        </ng-template>
      </div>
    </div>
  </ng-template>

  <!-- Calendario de Clientes -->
  <calendar *ngIf="authIsUsuario" [eventSource]="eventSource" [calendarMode]="calendar.mode"
    [currentDate]="calendar.currentDate" (onEventSelected)="onEventSelectedCliente($event)"
    (onTitleChanged)="onViewTitleChanged($event)" (onTimeSelected)="onTimeSelected($event)" (click)="goToDateView()"
    [monthviewDisplayEventTemplate]="templateClienteMonth" [weekviewNormalEventSectionTemplate]="templateClienteWeek"
    startHour="6" endHour="24" step="15" startingDayWeek="1" formatHourColumn="HH:mm" startingDayMonth="1">
  </calendar>

  <!-- Template Vista Mes -->
  <ng-template #templateClienteMonth let-view="view" let-row="row" let-col="col">
    <div *ngIf="view.dates[row*7+col].events == ''">{{view.dates[row*7+col].label}}</div>
    <div *ngFor="let obj of view.dates[row*7+col].events">
      <p [ngStyle]="{'background': obj.eventColor, 'border-radius': '50%', 'margin': '0'}">
        {{view.dates[row*7+col].label}}
      </p>
    </div>
  </ng-template>

  <!-- Template Vista Semana -->
  <ng-template #templateClienteWeek let-tm="tm" let-hourParts="hourParts" let-eventTemplate="eventTemplate">
    <div [ngClass]="{'calendar-event-wrap': tm.events}" *ngIf="tm.events">
      <div *ngFor="let displayEvent of tm.events" class="calendar-event" tappable
        (click)="onEventSelectedCliente(displayEvent.event)"
        [ngStyle]="{'background': displayEvent.event.eventColor, top: (37*displayEvent.startOffset/hourParts)+'px',left: 100/displayEvent.overlapNumber*displayEvent.position+'%', width: 100/displayEvent.overlapNumber+'%', height: 37*(displayEvent.endIndex -displayEvent.startIndex - (displayEvent.endOffset + displayEvent.startOffset)/hourParts)+'px'}">
        <ng-template [ngTemplateOutlet]="eventTemplate" [ngTemplateOutletContext]="{displayEvent:displayEvent}">
        </ng-template>
      </div>
    </div>
  </ng-template>

  <!-- Leyenda del calendario -->
  

</ion-content>