
/*:host {
    ion-content.background{
        --background: url(../../../assets/bck-ayuda.jpg) 0 0/100% 100% no-repeat ;
        
    }
    }
    */

    .bottom-button {

        position: relative;
        margin:auto;
        align-content: center;
        margin-bottom: 5%;

    
    }