<ion-header>
    <ion-toolbar color="dark">
        <ion-button color="dark" fill="clear" style="box-shadow: 0px 0px 0px" slot="start">
            <ion-icon></ion-icon>
        </ion-button>
        <ion-button color="secondary" fill="outline" slot="end" class="boton" (click)="presentActionSheet()">
            <ion-icon style="color:#fff; font-size: 25px" name="menu"></ion-icon>
        </ion-button>
        <ion-title class="ion-text-center">Ayuda</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="background">
    <ion-grid>

        <div class="ion-text-center">
            <img src="assets/Logo_fisiotraining.png" width='170px' alt="logo">
        </div>

        <br>

        <ion-row>
            <ion-col class="ion-text-center">
                <ion-item><ion-title color="dark" class="ion-text-center ion-text-wrap">¿Tienes alguna consulta?</ion-title></ion-item>          
            </ion-col>
        </ion-row>
        <br>
        <ion-row>
            <ion-col class="ion-text-center">

                <ion-title color="dark" class="ion-text-center ion-text-wrap" style="font-size: 15px; margin-top: 1px;">Envíanos un mensaje a:</ion-title>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col class="ion-text-center">
                <ion-title color="dark" class="ion-text-center ion-text-wrap">contacto@fisiotraining.cl</ion-title>
            </ion-col>
        </ion-row>
        <br>
        <ion-row>
            <ion-col class="ion-text-center">
                <a href="mailto:asistencia@fisiotraining.cl" style="text-decoration: none">
                    <ion-button color="primary" shape="round" fill="outline">ENVIAR MENSAJE</ion-button>
                </a>
            </ion-col>
        </ion-row>

    </ion-grid>
</ion-content>