<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start" fill="clear">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
    <ion-title text-center>En Construcción</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <div class="profile-box">
        <div text-center>
            <img src="./assets/undraw_personal_trainer_ote3.png" style="width:696px;height:466px" alt="">
        </div>
    </div>
  <div text-center>
    <h2>Disponible en las próximas actualizaciones</h2>
  </div>
</ion-content>
