
  rating {
    ion-icon {
      color: gray;
  
      &.filled {
        color: #b7ce48;
      }
    }
  }

  ion-card-title{
    font-size: 14px;
  }

  ion-button{
    border-radius: 25px;
    box-shadow: 0px 0px 10px #888888;
  }