<ion-header>
  <ion-toolbar color="dark">
    <ion-button slot="end" (click)="presentActionSheet()">
      <ion-icon name="person"></ion-icon>
    </ion-button>
    <ion-title class="ion-text-center">Buscar Usuario</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content class="background">
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-label>Ingresa un email:</ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-item>
          <ion-searchbar placeholder="ejemplo@gmail.com" type="text" [(ngModel)]="searchterm"
            (keydown)="search($event)"></ion-searchbar>
        </ion-item>
      </ion-col>
    </ion-row>
    <ul *ngFor="let user of users">
      <ion-col class="ion-text-center">
        <ion-item (click)="openProfile(user)" [routerLink]="user.url" routerDirection="root"
          [class.active-item]="selectedPath === user.url">
          <ion-icon name="happy" size="small" slot="start"></ion-icon>

          <ion-label>
            <ion-row>
              <ion-col>
                <h2><b>{{user.name}} {{user.lastName}}</b></h2>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col>
                <p>{{user.mail}}</p>
              </ion-col>
            </ion-row>
          </ion-label>
        </ion-item>
      </ion-col>
    </ul>
    <ion-col class="ion-text-center">
      <div class="animated fadeIn slower" *ngIf="users?.length <1">
        <p>No hay resultados</p>
      </div>
    </ion-col>
  </ion-grid>
</ion-content>