<ion-header>
    <ion-toolbar color="dark">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="tabs/perfil"></ion-back-button>
        </ion-buttons>
        <ion-title text-center>Ficha Clínica</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="background" padding>
    <ion-card class="animated fadeIn slow">


        <ion-grid>

            <ion-item>


                <ion-label position="stacked">Nombre: </ion-label> {{this.userName}} {{this.userLastName}}

            </ion-item>

            <ion-item>
                <ion-label position="stacked">Edad: </ion-label>
                <ion-input tappable type="number" [(ngModel)]="this.fichaClinica.edad"></ion-input>
            </ion-item>

            <ion-item class="ion-text-wrap">
                <ion-label position="stacked">Dirección: </ion-label>
                <ion-input tappable type="text" [(ngModel)]="this.fichaClinica.dir" inputmode="text"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="stacked">Fecha de evaluación: </ion-label>
                {{this.fichaClinica.fecha | date: 'dd/MM/yyyy'}}
            </ion-item>

            <ion-item class="ion-text-wrap">
                <ion-label position="stacked">Ocupación: </ion-label>
                <ion-input tappable type="text" [(ngModel)]="this.fichaClinica.ocupacion" inputmode="text"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="stacked">Ayudas técnicas: </ion-label>
                <ion-input tappable type="text" [(ngModel)]="this.fichaClinica.ayudasTecnicas" inputmode="text">
                </ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="stacked">Actividad deportiva: </ion-label>
                <ion-input tappable type="text" [(ngModel)]="this.fichaClinica.actividadDeportiva" inputmode="text">
                </ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="stacked">Intervenciones qx: </ion-label>
                <ion-input tappable type="text" [(ngModel)]="this.fichaClinica.intervencionesQX" inputmode="text">
                </ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="stacked">Traumas M-E: </ion-label>
                <ion-input tappable type="text" [(ngModel)]="this.fichaClinica.traumas" inputmode="text"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="stacked">Actividad en el trabajo: </ion-label>
                <ion-input tappable type="text" [(ngModel)]="this.fichaClinica.ocupacionActualTrabajo" inputmode="text">
                </ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="stacked">Antecedentes: </ion-label>
                <ion-input tappable type="text" [(ngModel)]="this.fichaClinica.antecedentes" inputmode="text">
                </ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="stacked">Hábitos: </ion-label>
                <ion-input tappable type="text" [(ngModel)]="this.fichaClinica.habitos" inputmode="text"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="stacked">Medicamentos: </ion-label>
                <ion-input tappable type="text" [(ngModel)]="this.fichaClinica.medicamentos" inputmode="text">
                </ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="stacked">Objetivos: </ion-label>
                <ion-input tappable type="text" [(ngModel)]="this.fichaClinica.objetivos" inputmode="text"></ion-input>
            </ion-item>

        </ion-grid>
    </ion-card>

    <br>
    <ion-row>
        <ion-col class="ion-text-center">
            <ion-button color="primary" expand="block" shape="round" fill="outline" (click)="guardarEvaluacion()">
                GUARDAR
            </ion-button>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col class="ion-text-center">
            <ion-button color="primary" expand="block" shape="round" fill="outline" (click)="goBack()">
                VOLVER
            </ion-button>
        </ion-col>
    </ion-row>




</ion-content>